.container {
  width: 700px;
  height: 200px;
  margin: auto;
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  padding: 1px;

  font-family: 'Courier New', Courier, monospace;
}
.container__item {
  display: flex;
  background-color: #fff;
}
.container__text {
  margin: auto;
}
.item-4 {
  grid-row: 2 / -1;
}
.item-5 {
  grid-column: 2 / -1;
}
.container__text--clickable {
  font-weight: 700;
  cursor: pointer;
}
